<section class="container">
    <div>
        <h1>Bienvenido al panel de control de administración</h1>
		<p>En esta sección podrás administrar tu cuenta</p>
    </div>
    <div>
        <ul>
			<li><a href="/admin/users">Usuarios</a></li>
			<li><a href="/vip/upload-products">Subir Producto</a></li>
            <li><a href="/admin/products-listing">Listado de Productos</a></li>
        </ul>
    </div>
</section>