<section class="container">
    <div id="cart-div">
        <h1 class="text-white">Carrito de Compras</h1>
        <div id="table-container" class="bg-Secondary">
            <table id="table-cart-products" class="m-auto table table-borderless" border="2" align="center">
                <tr>
                    <th>Nombre</th>
                    <th>Precio [$]</th>
                    <th>Imagen</th>
                    <th>Cantidad</th>
                    <th style='color:gray'>Eliminar Producto</th>
                </tr>
            </table>
        </div>
        <div id="buttons-cart">
        </div>
        <div id="message-cart"></div>
    </div>
</section>
<script src="./js/cart.js"></script>