<section class="container">
    <p>Identificación: <strong>ID:1</strong> router / <strong>ID:2</strong> token / <strong>ID:3</strong> controller / <strong>ID:4</strong> container</p>
    <h1>Detalles del Error</h1>
    <p>ID: <%= id %></p>
    <p>Mensaje de error: <%= message %></p>
</section>