<section class="container">
  <div id="signin-div" class="border border-dark mt-5 bg-primary rounded d-none">
    <form id="signin-form" class="formLogin" >
      <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="inputPassword1" class="form-label">Password</label>
        <div class="input-group">
          <input type="password" class="form-control" id="inputPassword" required>
          <button class="btn btn-outline-secondary input-icon" type="button" onclick="mostrarOcultarPassword('inputPassword', 'togglePassword')">
            <i class="bi bi-eye" id="togglePassword"></i>
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
      <button type="button" class="btn btn-link" id="forgot-password-button">¿Has olvidado tu contraseña?</button>
    </form>
  </div>
  <div id="forgot-password-form" class="border border-dark mt-5 bg-primary rounded d-none">
    <form id="forgot-password-form-inner" class="m-3 text-white fw-bold">
      <div class="mb-3">
        <label for="inputEmail2" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail2" aria-describedby="emailHelp" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Recuperar contraseña</button>
    </form>
  </div>
  <div id="signup-div" class="border border-dark mt-5 bg-primary rounded d-none">
  <form id="signup-form" class="formSignup">
    <div class="mb-3 row">
      <div class="col">
        <label for="inputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputName" required>
      </div>
      <div class="col">
        <label for="inputLastname" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputLastname" required>
      </div>
    </div>
    <div class="mb-3">
      <label for="inputPhone" class="form-label">Teléfono</label>
      <input type="number" class="form-control" id="inputPhone" required>
    </div>
    <div class="mb-3">
      <label for="inputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword1" class="form-label">Contraseña</label>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Debe contener Mayúscula, Carácter Especial, Minúscula, Números" minlength="8" maxlength="20" id="inputPassword1" pattern="^(?=.*[A-Z])(?=.*[\W_]).+$" required>
        <button class="btn btn-outline-secondary  input-icon" type="button" onclick="mostrarOcultarPassword('inputPassword1', 'togglePassword1')">
          <i class="bi bi-eye" id="togglePassword1"></i>
        </button>
      </div>
    </div>
    <div class="mb-3">
      <label for="inputPassword2" class="form-label">Repetir Contraseña</label>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Debe contener Mayúscula, Carácter Especial, Minúscula, Números" minlength="8" maxlength="20" id="inputPassword2" pattern="^(?=.*[A-Z])(?=.*[\W_]).+$" required>
        <button class="btn btn-outline-secondary input-icon" type="button" onclick="mostrarOcultarPassword('inputPassword2', 'togglePassword2')">
          <i class="bi bi-eye" id="togglePassword2"></i>
        </button>
      </div>
    </div>
    <div class="mb-3">
      <label for="inputType" class="form-label">Tipo de Usuario</label>
      <select class="form-control" id="inputType" required>
        <option value="normal">Normal</option>
        <option value="VIP">VIP/Premium</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
    <div id="text-error-register"></div>
  </form>
</div>
</section>
<script src="./js/index.js"></script>