<form action="/auth/reset-password" method="POST" onsubmit="resetPassword(event)" class="formStyle">
  <label for="password">Nueva Contraseña</label>
  <input type="password" name="newPassword" id="password" placeholder="Debe contener Mayúscula, Minúscula, Números" minlength="8" maxlength="20">
  <label for="cnfrm-password">Reingrese Contraseña</label>
  <input type="password" name="cnfrmPassword" id="cnfrm-password" placeholder="Confirma tu contraseña" minlength="8" maxlength="20">
  <p id="message"></p>
  <input type="hidden" name="token" value="{{token}}">
  <input type="submit" value="Enviar" class="btn btn-primary btn-lg">
</form>



<script src="/js/formResetPassword.js"></script>