<div class="container">
  <h1>Tu Perfil</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Name</h5>
      <p class="card-text">{{ userData.fullname }}</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Email</h5>
      <p class="card-text">{{ userData.email }}</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Phone</h5>
      <p class="card-text">{{ userData.phone }}</p>
    </div>
  </div>
</div>
