<section class="container">
    <div>
        <h1>Bienvenido a la sección VIP</h1>
		<p>En esta sección puedes ver tu perfil y subir nuevos productos.</p>
    </div>
    <div>
        <ul>
			<li><a href="/vip/profile">Perfil</a></li>
			<li><a href="/vip/upload-products">Subir Producto</a></li>
        </ul>
    </div>
</section>