* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
}

.loading-icon{
   display: none;
}

@keyframes giro {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
 }
 
 #chat-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }
 
 #chat-icon:hover img {
    transform: scale(1.1);
 }
 